.aboutContainer {
  height: 200vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutTitle {
  text-decoration: underline;
  color: #3d3c3a;
  text-shadow: 0px 1px 0px #333;
  height: 5%;
  width: 100%;
  text-align: center;
}
