
.blockContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .block {
    /* position: absolute; */
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .animate {
    animation: fall 3s;
    animation-fill-mode: forwards;
  }
  
  .block1 {
    animation-delay: 0s;
  }
  .block2 {
    animation-delay: 1s;
  }
  .block3 {
    animation-delay: 2s;
  }

  /* and so on for each block */
  
  @keyframes fall {
  }
  
  .test {
    animation: fadeIn 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  .aboutImage{
    height: auto;
    width: 100%;
    animation: fadeIn 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
  }
  
  .blockImageContainer {
    width: 30%;
    display: flex;
  }

  .blockText {
    width: 70%;
    text-align: center;
  }