.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 94%;
  height: 100vw;
  background-color: rgb(47, 46, 46);
  border-radius: 6px;
}

.iconBox {
  width: 100%;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (2560 - 300)));
}

.barBackground {
  width: 70%;
  height: 18%;
  border: 1px solid black;
  background-color: rgb(165, 163, 163);
}

.fillReactBar {
  height: 100%;
  width: 0%;
  background-color: #61dafb ;
  animation: fillReactBar 1s forwards;

}

@keyframes fillReactBar {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.fillCssBar {
  height: 100%;
  width: 0%;
  background-color: #3c8fc6;
  animation: fillCSSBar 1s forwards;
}

@keyframes fillCSSBar {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.fillHtmlBar {
  height: 100%;
  width: 0%;
  background-color: #e54d26;
  animation: fillHTMLBar 1s forwards;
}

@keyframes fillHTMLBar {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.fillJsBar {
  height: 100%;
  width: 0%;
  background-color: #efdb4f ;
  animation: fillJSBar 1s forwards;
}

@keyframes fillJSBar {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.fillMongoBar {
  height: 100%;
  width: 0%;
  background-color: #4faa40 ;
  animation: fillMongoBar 1s forwards;
}

@keyframes fillMongoBar {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.fillMysqlBar {
  height: 100%;
  width: 0%;
  background-color: white ;
  animation: fillMySQLBar 1s forwards;
}

@keyframes fillMySQLBar {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}


@media only screen and (min-width: 769px) {
  .iconContainer {
    width: 33%;
    height: 50vh;
  }
}
