
.animatePopup {
  width: calc(250px + (700 - 250) * ((100vw - 300px) / (2560 - 300)));
  height: auto;
  animation: slide-in 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #646565;
  border-radius: 3%;
  color: rgb(229, 226, 226)
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animatePopup h2 {
  font-size: calc(24px + (50 - 24) * ((100vw - 300px) / (2560 - 300)));
  margin-bottom: 10px;
}

.animatePopup p {
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (2560 - 300)));
  margin-bottom: 20px;
}

.popupLinks{
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (2560 - 300)));
}

.popupLinks a {
  color: rgb(229, 226, 226)

}


.close{
  width: auto;
  height:auto;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (2560 - 300)));
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: calc(14px + (28 - 14) * ((100vw - 300px) / (2560 - 300)));
  color: rgb(229, 226, 226);
  align-self: flex-end;
  width: 10%;
}


@media only screen and (min-width: 769px) {
  .animatePopup {
    transform: translateX(-100%);
    aspect-ratio: 1.3/1;

  }

  @keyframes slide-in {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
